@import 'toastr';
@import "bootstrap";
@import "font-awesome";
@import "pairs";
@import "jquery-ui";
@import "custom/app";

.sidebar-mini .sidebar .nav-pills {
  margin-left: 10px !important;
}

select.form-control {
  padding: 0 !important;
}

.icon-leaderboard {
  width: 30px;
  height: 30px;
}

.landing-pages {
  background: image_url('background.jpg')no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dashboard-pages {
  background: image_url('dashboard-background.jpg')no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 1000px;

}

.font-size-12 {
  font-size: 12px !important;
}

.color-white {
  color: white;
}

.shade-primary {
  background: #fbfcffe8
}