@import 'toastr';
@import "bootstrap";
@import "font-awesome";
@import "pairs";
@import "jquery-ui";
@import "custom/app";

.sidebar-mini .sidebar .nav-pills {
  margin-left: 10px !important;
}

select.form-control {
  padding: 0 !important;
}