// Place all the styles related to the pairs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wizard {
  height: 150px;
  width: 150px;
}

.centre_text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-top: 75px;
}